{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "UseDevelopmentStorage=true",
      "FUNCTIONS_WORKER_RUNTIME": "dotnet",
      "Services": "[
        {
          \"Name\": \"HealthCheckSample1\", 
          \"Url\": \"http://localhost:7071/api/healthcheck\"
        },      
        {
          \"Name\": \"HealthCheckSample2\",
          \"Url\": \"http://localhost:5860/api/healthcheck\"
        }
      ]"
    }
}